In [2]:
import pandas as pd
import numpy as np
import ast
pd.set_option("display.width", 170)
pd.set_option("display.max_columns", 200)

In [3]:
google_restaurants = pd.read_csv("enriched_restaurants.csv")
print(google_restaurants.shape)
print(google_restaurants.info())
print(google_restaurants.head())

(6998, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6998 entries, 0 to 6997
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   business_id               6998 non-null   object
 1   displayName               6998 non-null   object
 2   address                   6998 non-null   object
 3   price_level               6026 non-null   object
 4   price_range               5574 non-null   object
 5   rating                    6949 non-null   float64
 6   regular_opening_hours     6998 non-null   object
 7   user_rating_count         6949 non-null   float64
 8   number_of_photos          6998 non-null   int64
 9   types                     6998 non-null   object
 10  takeout                   6998 non-null   object
 11  delivery                  6998 non-null   object
 12  dine_in                   6998 non-null   object
 13  reservable                6998 non-null   object
 14  serves_breakfast          6998 non-null   object
 15  serves_lunch              6998 non-null   object
 16  serves_dinner             6998 non-null   object
 17  serves_brunch             6998 non-null   object
 18  serves_beer               6998 non-null   object
 19  serves_wine               6998 non-null   object
 20  serves_cocktails          6998 non-null   object
 21  serves_dessert            6998 non-null   object
 22  serves_coffee             6998 non-null   object
 23  outdoor_seating           6998 non-null   object
 24  live_music                6998 non-null   object
 25  allows_dogs               6998 non-null   object
 26  payment_options           0 non-null      float64
 27  editorial_summary         3961 non-null   object
 28  ev_charge_options         0 non-null      float64
 29  fuel_options              90 non-null     object
 30  good_for_children         6998 non-null   object
 31  good_for_groups           6998 non-null   object
 32  good_for_watching_sports  6998 non-null   object
 33  menu_for_children         6998 non-null   object
 34  parking_options           5664 non-null   object
dtypes: float64(4), int64(1), object(30)
memory usage: 1.9+ MB
None
              business_id         displayName                                            address            price_level  \
0  MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries           935 Race St, Philadelphia, PA 19107, USA                    NaN
1  MUTTqe8uqyMdBl186RmNeA            Tuna Bar           205 Race St, Philadelphia, PA 19106, USA  PRICE_LEVEL_EXPENSIVE
2  ROeacJQwBeh05Rqg7F6TCg             Dae Bak  1016 Race St 2nd Floor, Philadelphia, PA 19107...   PRICE_LEVEL_MODERATE
3  kV_Q1oqis8Qli8dUoGpTyQ       Ardmore Pizza          10 Rittenhouse Pl, Ardmore, PA 19003, USA   PRICE_LEVEL_MODERATE
4  aPNXGTDkf-4bjhyMBQxqpQ          Craft Hall    901 N Delaware Ave, Philadelphia, PA 19123, USA   PRICE_LEVEL_MODERATE

                                         price_range  rating                              regular_opening_hours  user_rating_count  number_of_photos  \
0                                                NaN     4.8                                                 {}               53.0                10
1  {'startPrice': {'currencyCode': 'USD', 'units'...     4.5  {'openNow': False, 'periods': [{'open': {'day'...              415.0                10
2  {'startPrice': {'currencyCode': 'USD', 'units'...     4.3  {'openNow': False, 'periods': [{'open': {'day'...              529.0                10
3  {'startPrice': {'currencyCode': 'USD', 'units'...     4.2  {'openNow': False, 'periods': [{'open': {'day'...              381.0                10
4                                                NaN     4.2  {'openNow': False, 'periods': [{'open': {'day'...              389.0                10

                                               types takeout delivery dine_in reservable serves_breakfast serves_lunch serves_dinner serves_brunch serves_beer  \
0  bakery, food_store, food, wholesaler, store, p...      No       No      No         No               No           No            No            No          No
1  japanese_restaurant, restaurant, food, point_o...     Yes      Yes     Yes        Yes               No          Yes           Yes            No         Yes
2  korean_restaurant, restaurant, point_of_intere...     Yes      Yes     Yes        Yes              Yes          Yes           Yes            No         Yes
3  pizza_restaurant, fast_food_restaurant, meal_d...     Yes      Yes      No         No               No          Yes           Yes            No          No
4  bar_and_grill, american_restaurant, bar, resta...     Yes      Yes     Yes        Yes               No          Yes           Yes           Yes         Yes

  serves_wine serves_cocktails serves_dessert serves_coffee outdoor_seating live_music allows_dogs  payment_options                                  editorial_summary  \
0          No               No             No           Yes              No         No          No              NaN                                                NaN
1         Yes              Yes            Yes           Yes             Yes         No          No              NaN  {'text': 'Chic sushi & raw bar in modern surro...
2          No               No            Yes            No              No         No          No              NaN  {'text': 'Classic Korean dishes & beer in simp...
3          No               No            Yes            No              No         No          No              NaN  {'text': 'Long-standing casual pizzeria that b...
4         Yes              Yes            Yes            No             Yes         No         Yes              NaN  {'text': 'Easygoing restaurant preparing gener...

   ev_charge_options fuel_options good_for_children good_for_groups good_for_watching_sports menu_for_children                                    parking_options
0                NaN          NaN                No              No                       No                No                                                NaN
1                NaN          NaN                No             Yes                       No                No  {'freeParkingLot': False, 'paidParkingLot': Fa...
2                NaN          NaN               Yes             Yes                       No                No                            {'valetParking': False}
3                NaN          NaN                No              No                       No                No  {'freeStreetParking': True, 'paidStreetParking...
4                NaN          NaN               Yes             Yes                      Yes               Yes  {'freeParkingLot': True, 'freeStreetParking': ...

In [4]:
# remove empty columns (payment_options, ev_charge_options, fuel_options)
google_restaurants = google_restaurants.drop(columns=["payment_options", "ev_charge_options", "fuel_options"])
print(google_restaurants.shape)

(6998, 32)

In [5]:
restaurants = pd.read_csv("restaurants.csv", index_col=0)
print(restaurants.shape)
print(restaurants.info())
print(restaurants.head())

(8069, 48)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8069 entries, 0 to 8068
Data columns (total 48 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      8069 non-null   object
 1   city                             8069 non-null   object
 2   postal_code                      8069 non-null   int64
 3   categories                       8069 non-null   object
 4   stars                            8069 non-null   float64
 5   name                             8069 non-null   object
 6   RestaurantsTakeOut               7471 non-null   object
 7   BusinessAcceptsCreditCards       7181 non-null   object
 8   RestaurantsDelivery              7149 non-null   object
 9   RestaurantsPriceRange2           6581 non-null   float64
 10  RestaurantsReservations          6376 non-null   object
 11  HasTV                            6366 non-null   object
 12  OutdoorSeating                   6192 non-null   object
 13  RestaurantsGoodForGroups         6004 non-null   object
 14  WiFi                             5952 non-null   object
 15  GoodForKids                      5912 non-null   object
 16  BikeParking                      5850 non-null   object
 17  RestaurantsAttire                5601 non-null   object
 18  Caters                           5476 non-null   object
 19  BusinessParking                  5341 non-null   object
 20  NoiseLevel                       5187 non-null   object
 21  Ambience                         3876 non-null   object
 22  GoodForMeal                      3351 non-null   object
 23  RestaurantsTableService          3176 non-null   object
 24  WheelchairAccessible             2275 non-null   object
 25  HappyHour                        2029 non-null   object
 26  Alcohol                          1922 non-null   object
 27  DogsAllowed                      1802 non-null   object
 28  BusinessAcceptsBitcoin           1191 non-null   object
 29  BYOB                             863 non-null    object
 30  Corkage                          776 non-null    object
 31  DriveThru                        681 non-null    object
 32  BestNights                       609 non-null    object
 33  CoatCheck                        596 non-null    object
 34  ByAppointmentOnly                558 non-null    object
 35  GoodForDancing                   527 non-null    object
 36  Smoking                          514 non-null    object
 37  BYOBCorkage                      385 non-null    object
 38  Music                            308 non-null    object
 39  AgesAllowed                      30 non-null     object
 40  RestaurantsCounterService        4 non-null      object
 41  Open24Hours                      3 non-null      object
 42  AcceptsInsurance                 3 non-null      object
 43  DietaryRestrictions              2 non-null      object
 44  dist_highway                     8005 non-null   float64
 45  adjusted_gross_income            8005 non-null   float64
 46  rural_urban_continuum_code_2023  8005 non-null   float64
 47  unemployment_rate_2023           8005 non-null   float64
dtypes: float64(6), int64(1), object(41)
memory usage: 3.0+ MB
None
              business_id          city  postal_code                                         categories  stars                name RestaurantsTakeOut  \
0  MTSW4McQd7CbVtyjqoe9mw  Philadelphia        19107  Restaurants, Food, Bubble Tea, Coffee & Tea, B...    4.0  St Honore Pastries               True
1  MUTTqe8uqyMdBl186RmNeA  Philadelphia        19106                  Sushi Bars, Restaurants, Japanese    4.0            Tuna Bar               True
2  ROeacJQwBeh05Rqg7F6TCg  Philadelphia        19147                                Korean, Restaurants    4.5                 BAP               True
3  kV_Q1oqis8Qli8dUoGpTyQ       Ardmore        19003                                 Pizza, Restaurants    3.5       Ardmore Pizza               True
4  aPNXGTDkf-4bjhyMBQxqpQ  Philadelphia        19123  Eatertainment, Arts & Entertainment, Brewpubs,...    3.5          Craft Hall               True

  BusinessAcceptsCreditCards RestaurantsDelivery  RestaurantsPriceRange2 RestaurantsReservations  HasTV OutdoorSeating RestaurantsGoodForGroups  WiFi GoodForKids  \
0                      False               False                     1.0                     NaN    NaN          False                      NaN  free         NaN
1                       True                True                     2.0                    True  False           True                     True  free       False
2                       True                 NaN                     1.0                   False   True            NaN                    False    no        True
3                       True                True                     1.0                   False   True          False                     True    no        True
4                       True                True                     2.0                     NaN   True           True                      NaN   NaN        True

  BikeParking RestaurantsAttire Caters BusinessParking NoiseLevel Ambience        GoodForMeal RestaurantsTableService WheelchairAccessible HappyHour   Alcohol  \
0        True               NaN   True          street        NaN      NaN                NaN                     NaN                  NaN       NaN       NaN
1         NaN            casual    NaN          street    average   classy    dessert, dinner                    True                 True      True  full_bar
2        True            casual   True          street      quiet   casual      lunch, dinner                    True                  NaN       NaN       NaN
3        True            casual   True     street, lot    average   casual  latenight, dinner                     NaN                  NaN       NaN       NaN
4         NaN               NaN    NaN             lot        NaN   classy                NaN                     NaN                  NaN      True       NaN

  DogsAllowed BusinessAcceptsBitcoin BYOB Corkage DriveThru BestNights CoatCheck ByAppointmentOnly GoodForDancing Smoking BYOBCorkage Music AgesAllowed  \
0         NaN                    NaN  NaN     NaN       NaN        NaN       NaN             False            NaN     NaN         NaN   NaN         NaN
1       False                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN
2         NaN                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN
3         NaN                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN
4        True                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN

  RestaurantsCounterService Open24Hours AcceptsInsurance DietaryRestrictions  dist_highway  adjusted_gross_income  rural_urban_continuum_code_2023  \
0                       NaN         NaN              NaN                 NaN      0.637509               620248.0                              1.0
1                       NaN         NaN              NaN                 NaN      0.002010              1343500.0                              1.0
2                       NaN         NaN              NaN                 NaN      0.885738              2118208.0                              1.0
3                       NaN         NaN              NaN                 NaN      4.155569               888735.0                              1.0
4                       NaN         NaN              NaN                 NaN      0.564495               834640.0                              1.0

   unemployment_rate_2023
0                     4.2
1                     4.2
2                     4.2
3                     3.0
4                     4.2

In [6]:
# combine both dataframes via outer join on business_id
restaurants_merged = pd.merge(restaurants, google_restaurants, how="outer", on="business_id")
print(restaurants_merged.shape)
print(restaurants_merged.info())
print(restaurants_merged.head())
print(restaurants_merged.describe(include="all"))

(8069, 79)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8069 entries, 0 to 8068
Data columns (total 79 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      8069 non-null   object
 1   city                             8069 non-null   object
 2   postal_code                      8069 non-null   int64
 3   categories                       8069 non-null   object
 4   stars                            8069 non-null   float64
 5   name                             8069 non-null   object
 6   RestaurantsTakeOut               7471 non-null   object
 7   BusinessAcceptsCreditCards       7181 non-null   object
 8   RestaurantsDelivery              7149 non-null   object
 9   RestaurantsPriceRange2           6581 non-null   float64
 10  RestaurantsReservations          6376 non-null   object
 11  HasTV                            6366 non-null   object
 12  OutdoorSeating                   6192 non-null   object
 13  RestaurantsGoodForGroups         6004 non-null   object
 14  WiFi                             5952 non-null   object
 15  GoodForKids                      5912 non-null   object
 16  BikeParking                      5850 non-null   object
 17  RestaurantsAttire                5601 non-null   object
 18  Caters                           5476 non-null   object
 19  BusinessParking                  5341 non-null   object
 20  NoiseLevel                       5187 non-null   object
 21  Ambience                         3876 non-null   object
 22  GoodForMeal                      3351 non-null   object
 23  RestaurantsTableService          3176 non-null   object
 24  WheelchairAccessible             2275 non-null   object
 25  HappyHour                        2029 non-null   object
 26  Alcohol                          1922 non-null   object
 27  DogsAllowed                      1802 non-null   object
 28  BusinessAcceptsBitcoin           1191 non-null   object
 29  BYOB                             863 non-null    object
 30  Corkage                          776 non-null    object
 31  DriveThru                        681 non-null    object
 32  BestNights                       609 non-null    object
 33  CoatCheck                        596 non-null    object
 34  ByAppointmentOnly                558 non-null    object
 35  GoodForDancing                   527 non-null    object
 36  Smoking                          514 non-null    object
 37  BYOBCorkage                      385 non-null    object
 38  Music                            308 non-null    object
 39  AgesAllowed                      30 non-null     object
 40  RestaurantsCounterService        4 non-null      object
 41  Open24Hours                      3 non-null      object
 42  AcceptsInsurance                 3 non-null      object
 43  DietaryRestrictions              2 non-null      object
 44  dist_highway                     8005 non-null   float64
 45  adjusted_gross_income            8005 non-null   float64
 46  rural_urban_continuum_code_2023  8005 non-null   float64
 47  unemployment_rate_2023           8005 non-null   float64
 48  displayName                      6998 non-null   object
 49  address                          6998 non-null   object
 50  price_level                      6026 non-null   object
 51  price_range                      5574 non-null   object
 52  rating                           6949 non-null   float64
 53  regular_opening_hours            6998 non-null   object
 54  user_rating_count                6949 non-null   float64
 55  number_of_photos                 6998 non-null   float64
 56  types                            6998 non-null   object
 57  takeout                          6998 non-null   object
 58  delivery                         6998 non-null   object
 59  dine_in                          6998 non-null   object
 60  reservable                       6998 non-null   object
 61  serves_breakfast                 6998 non-null   object
 62  serves_lunch                     6998 non-null   object
 63  serves_dinner                    6998 non-null   object
 64  serves_brunch                    6998 non-null   object
 65  serves_beer                      6998 non-null   object
 66  serves_wine                      6998 non-null   object
 67  serves_cocktails                 6998 non-null   object
 68  serves_dessert                   6998 non-null   object
 69  serves_coffee                    6998 non-null   object
 70  outdoor_seating                  6998 non-null   object
 71  live_music                       6998 non-null   object
 72  allows_dogs                      6998 non-null   object
 73  editorial_summary                3961 non-null   object
 74  good_for_children                6998 non-null   object
 75  good_for_groups                  6998 non-null   object
 76  good_for_watching_sports         6998 non-null   object
 77  menu_for_children                6998 non-null   object
 78  parking_options                  5664 non-null   object
dtypes: float64(9), int64(1), object(69)
memory usage: 4.9+ MB
None
              business_id          city  postal_code                                         categories  stars                name RestaurantsTakeOut  \
0  MTSW4McQd7CbVtyjqoe9mw  Philadelphia        19107  Restaurants, Food, Bubble Tea, Coffee & Tea, B...    4.0  St Honore Pastries               True
1  MUTTqe8uqyMdBl186RmNeA  Philadelphia        19106                  Sushi Bars, Restaurants, Japanese    4.0            Tuna Bar               True
2  ROeacJQwBeh05Rqg7F6TCg  Philadelphia        19147                                Korean, Restaurants    4.5                 BAP               True
3  kV_Q1oqis8Qli8dUoGpTyQ       Ardmore        19003                                 Pizza, Restaurants    3.5       Ardmore Pizza               True
4  aPNXGTDkf-4bjhyMBQxqpQ  Philadelphia        19123  Eatertainment, Arts & Entertainment, Brewpubs,...    3.5          Craft Hall               True

  BusinessAcceptsCreditCards RestaurantsDelivery  RestaurantsPriceRange2 RestaurantsReservations  HasTV OutdoorSeating RestaurantsGoodForGroups  WiFi GoodForKids  \
0                      False               False                     1.0                     NaN    NaN          False                      NaN  free         NaN
1                       True                True                     2.0                    True  False           True                     True  free       False
2                       True                 NaN                     1.0                   False   True            NaN                    False    no        True
3                       True                True                     1.0                   False   True          False                     True    no        True
4                       True                True                     2.0                     NaN   True           True                      NaN   NaN        True

  BikeParking RestaurantsAttire Caters BusinessParking NoiseLevel Ambience        GoodForMeal RestaurantsTableService WheelchairAccessible HappyHour   Alcohol  \
0        True               NaN   True          street        NaN      NaN                NaN                     NaN                  NaN       NaN       NaN
1         NaN            casual    NaN          street    average   classy    dessert, dinner                    True                 True      True  full_bar
2        True            casual   True          street      quiet   casual      lunch, dinner                    True                  NaN       NaN       NaN
3        True            casual   True     street, lot    average   casual  latenight, dinner                     NaN                  NaN       NaN       NaN
4         NaN               NaN    NaN             lot        NaN   classy                NaN                     NaN                  NaN      True       NaN

  DogsAllowed BusinessAcceptsBitcoin BYOB Corkage DriveThru BestNights CoatCheck ByAppointmentOnly GoodForDancing Smoking BYOBCorkage Music AgesAllowed  \
0         NaN                    NaN  NaN     NaN       NaN        NaN       NaN             False            NaN     NaN         NaN   NaN         NaN
1       False                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN
2         NaN                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN
3         NaN                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN
4        True                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN   NaN         NaN

  RestaurantsCounterService Open24Hours AcceptsInsurance DietaryRestrictions  dist_highway  adjusted_gross_income  rural_urban_continuum_code_2023  \
0                       NaN         NaN              NaN                 NaN      0.637509               620248.0                              1.0
1                       NaN         NaN              NaN                 NaN      0.002010              1343500.0                              1.0
2                       NaN         NaN              NaN                 NaN      0.885738              2118208.0                              1.0
3                       NaN         NaN              NaN                 NaN      4.155569               888735.0                              1.0
4                       NaN         NaN              NaN                 NaN      0.564495               834640.0                              1.0

   unemployment_rate_2023         displayName                                            address            price_level  \
0                     4.2  St Honore Pastries           935 Race St, Philadelphia, PA 19107, USA                    NaN
1                     4.2            Tuna Bar           205 Race St, Philadelphia, PA 19106, USA  PRICE_LEVEL_EXPENSIVE
2                     4.2             Dae Bak  1016 Race St 2nd Floor, Philadelphia, PA 19107...   PRICE_LEVEL_MODERATE
3                     3.0       Ardmore Pizza          10 Rittenhouse Pl, Ardmore, PA 19003, USA   PRICE_LEVEL_MODERATE
4                     4.2          Craft Hall    901 N Delaware Ave, Philadelphia, PA 19123, USA   PRICE_LEVEL_MODERATE

                                         price_range  rating                              regular_opening_hours  user_rating_count  number_of_photos  \
0                                                NaN     4.8                                                 {}               53.0              10.0
1  {'startPrice': {'currencyCode': 'USD', 'units'...     4.5  {'openNow': False, 'periods': [{'open': {'day'...              415.0              10.0
2  {'startPrice': {'currencyCode': 'USD', 'units'...     4.3  {'openNow': False, 'periods': [{'open': {'day'...              529.0              10.0
3  {'startPrice': {'currencyCode': 'USD', 'units'...     4.2  {'openNow': False, 'periods': [{'open': {'day'...              381.0              10.0
4                                                NaN     4.2  {'openNow': False, 'periods': [{'open': {'day'...              389.0              10.0

                                               types takeout delivery dine_in reservable serves_breakfast serves_lunch serves_dinner serves_brunch serves_beer  \
0  bakery, food_store, food, wholesaler, store, p...      No       No      No         No               No           No            No            No          No
1  japanese_restaurant, restaurant, food, point_o...     Yes      Yes     Yes        Yes               No          Yes           Yes            No         Yes
2  korean_restaurant, restaurant, point_of_intere...     Yes      Yes     Yes        Yes              Yes          Yes           Yes            No         Yes
3  pizza_restaurant, fast_food_restaurant, meal_d...     Yes      Yes      No         No               No          Yes           Yes            No          No
4  bar_and_grill, american_restaurant, bar, resta...     Yes      Yes     Yes        Yes               No          Yes           Yes           Yes         Yes

  serves_wine serves_cocktails serves_dessert serves_coffee outdoor_seating live_music allows_dogs                                  editorial_summary good_for_children  \
0          No               No             No           Yes              No         No          No                                                NaN                No
1         Yes              Yes            Yes           Yes             Yes         No          No  {'text': 'Chic sushi & raw bar in modern surro...                No
2          No               No            Yes            No              No         No          No  {'text': 'Classic Korean dishes & beer in simp...               Yes
3          No               No            Yes            No              No         No          No  {'text': 'Long-standing casual pizzeria that b...                No
4         Yes              Yes            Yes            No             Yes         No         Yes  {'text': 'Easygoing restaurant preparing gener...               Yes

  good_for_groups good_for_watching_sports menu_for_children                                    parking_options
0              No                       No                No                                                NaN
1             Yes                       No                No  {'freeParkingLot': False, 'paidParkingLot': Fa...
2             Yes                       No                No                            {'valetParking': False}
3              No                       No                No  {'freeStreetParking': True, 'paidStreetParking...
4             Yes                      Yes               Yes  {'freeParkingLot': True, 'freeStreetParking': ...
                   business_id          city   postal_code          categories        stars  name RestaurantsTakeOut BusinessAcceptsCreditCards RestaurantsDelivery  \
count                     8069          8069   8069.000000                8069  8069.000000  8069               7471                       7181                7149
unique                    8069           266           NaN                5771          NaN  6368                  2                          2                   2
top     MTSW4McQd7CbVtyjqoe9mw  Philadelphia           NaN  Restaurants, Pizza          NaN  Wawa               True                       True                True
freq                         1          3525           NaN                 223          NaN   160               7230                       6707                5485
mean                       NaN           NaN  19147.941876                 NaN     3.561470   NaN                NaN                        NaN                 NaN
std                        NaN           NaN    187.021954                 NaN     0.814395   NaN                NaN                        NaN                 NaN
min                        NaN           NaN  10426.000000                 NaN     1.000000   NaN                NaN                        NaN                 NaN
25%                        NaN           NaN  19060.000000                 NaN     3.000000   NaN                NaN                        NaN                 NaN
50%                        NaN           NaN  19116.000000                 NaN     3.500000   NaN                NaN                        NaN                 NaN
75%                        NaN           NaN  19149.000000                 NaN     4.000000   NaN                NaN                        NaN                 NaN
max                        NaN           NaN  19603.000000                 NaN     5.000000   NaN                NaN                        NaN                 NaN

        RestaurantsPriceRange2 RestaurantsReservations HasTV OutdoorSeating RestaurantsGoodForGroups  WiFi GoodForKids BikeParking RestaurantsAttire Caters  \
count              6581.000000                    6376  6366           6192                     6004  5952        5912        5850              5601   5476
unique                     NaN                       2     2              2                        2     3           2           2                 3      2
top                        NaN                   False  True          False                     True  free        True        True            casual   True
freq                       NaN                    4236  5115           3631                     4870  3187        4949        4276              5483   3460
mean                  1.589880                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN
std                   0.589947                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN
min                   1.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN
25%                   1.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN
50%                   2.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN
75%                   2.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN
max                   4.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN

       BusinessParking NoiseLevel Ambience    GoodForMeal RestaurantsTableService WheelchairAccessible HappyHour   Alcohol DogsAllowed BusinessAcceptsBitcoin   BYOB  \
count             5341       5187     3876           3351                    3176                 2275      2029      1922        1802                   1191    863
unique              28          4       91             65                       2                    2         2         2           2                      2      2
top                lot    average   casual  lunch, dinner                    True                 True      True  full_bar       False                  False  False
freq              2551       3695     2182           1196                    2041                 1938      1192      1652        1510                   1164    481
mean               NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN
std                NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN
min                NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN
25%                NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN
50%                NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN
75%                NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN
max                NaN        NaN      NaN            NaN                     NaN                  NaN       NaN       NaN         NaN                    NaN    NaN


In [7]:
print(restaurants_merged.columns)

Index(['business_id', 'city', 'postal_code', 'categories', 'stars', 'name', 'RestaurantsTakeOut', 'BusinessAcceptsCreditCards', 'RestaurantsDelivery',
       'RestaurantsPriceRange2', 'RestaurantsReservations', 'HasTV', 'OutdoorSeating', 'RestaurantsGoodForGroups', 'WiFi', 'GoodForKids', 'BikeParking',
       'RestaurantsAttire', 'Caters', 'BusinessParking', 'NoiseLevel', 'Ambience', 'GoodForMeal', 'RestaurantsTableService', 'WheelchairAccessible', 'HappyHour',
       'Alcohol', 'DogsAllowed', 'BusinessAcceptsBitcoin', 'BYOB', 'Corkage', 'DriveThru', 'BestNights', 'CoatCheck', 'ByAppointmentOnly', 'GoodForDancing', 'Smoking',
       'BYOBCorkage', 'Music', 'AgesAllowed', 'RestaurantsCounterService', 'Open24Hours', 'AcceptsInsurance', 'DietaryRestrictions', 'dist_highway',
       'adjusted_gross_income', 'rural_urban_continuum_code_2023', 'unemployment_rate_2023', 'displayName', 'address', 'price_level', 'price_range', 'rating',
       'regular_opening_hours', 'user_rating_count', 'number_of_photos', 'types', 'takeout', 'delivery', 'dine_in', 'reservable', 'serves_breakfast', 'serves_lunch',
       'serves_dinner', 'serves_brunch', 'serves_beer', 'serves_wine', 'serves_cocktails', 'serves_dessert', 'serves_coffee', 'outdoor_seating', 'live_music',
       'allows_dogs', 'editorial_summary', 'good_for_children', 'good_for_groups', 'good_for_watching_sports', 'menu_for_children', 'parking_options'],
      dtype='object')

In [8]:
# remove address column: address as a feature is captured by latitude and longitude
# remove displayName: this is the same as name
# remove regular_opening_hours: it is complicated to use this data, as there are multiple opening hours for different days
restaurants_merged = restaurants_merged.drop(columns=["address", "displayName", "regular_opening_hours"])

In [9]:
# get restaurantpricerange2 and price_level from restaurants_merged
a = restaurants_merged[["RestaurantsPriceRange2", "price_level"]]
print(a.groupby(["RestaurantsPriceRange2", "price_level"]).size())
# based on the grouping below, we can see that there are 4 price levels for both columns
# we can use the price_level column to fill in the missing values in RestaurantsPriceRange2

RestaurantsPriceRange2  price_level
1.0                     PRICE_LEVEL_EXPENSIVE            3
                        PRICE_LEVEL_INEXPENSIVE       1925
                        PRICE_LEVEL_MODERATE           424
                        PRICE_LEVEL_VERY_EXPENSIVE       1
2.0                     PRICE_LEVEL_EXPENSIVE           38
                        PRICE_LEVEL_INEXPENSIVE        623
                        PRICE_LEVEL_MODERATE          1887
                        PRICE_LEVEL_VERY_EXPENSIVE       2
3.0                     PRICE_LEVEL_EXPENSIVE           77
                        PRICE_LEVEL_INEXPENSIVE          8
                        PRICE_LEVEL_MODERATE            58
                        PRICE_LEVEL_VERY_EXPENSIVE       7
4.0                     PRICE_LEVEL_EXPENSIVE            3
                        PRICE_LEVEL_INEXPENSIVE          6
                        PRICE_LEVEL_MODERATE             6
                        PRICE_LEVEL_VERY_EXPENSIVE       9
dtype: int64

In [10]:
# convert price_level values to RestaurantsPriceRange2 values
restaurants_merged["price_level"] = restaurants_merged["price_level"].map({"PRICE_LEVEL_INEXPENSIVE": 1, "PRICE_LEVEL_MODERATE": 2, "PRICE_LEVEL_EXPENSIVE": 3, 
                                                                           "PRICE_LEVEL_VERY_EXPENSIVE": 4})
# fill in missing values in RestaurantsPriceRange2 with values from price_level
restaurants_merged["RestaurantsPriceRange2"] = restaurants_merged["RestaurantsPriceRange2"].fillna(restaurants_merged["price_level"])

In [11]:
# # remove price_level column
restaurants_merged = restaurants_merged.drop(columns=["price_level"])
# rename RestaurantsPriceRange2 to price_level
restaurants_merged = restaurants_merged.rename(columns={"RestaurantsPriceRange2": "price_level"})

In [12]:
# get price_range_low and price_range_high from restaurants_merged
# restaurants_merged['price_range_low'] = restaurants_merged['price_range']

In [13]:
print(type(restaurants_merged["price_range"][1]))

<class 'str'>

In [14]:
# rename rating as google_rating
restaurants_merged = restaurants_merged.rename(columns={"rating": "google_rating", "stars": "yelp_rating"})

In [15]:
# convert user_rating_count to integer (nan to remain as nan)
restaurants_merged["user_rating_count"] = restaurants_merged["user_rating_count"].astype("Int64")

In [16]:
# convert columns to boolean
bool_cols = ["takeout", "delivery", "dine_in", "reservable", "serves_breakfast", "serves_lunch", "serves_dinner", "serves_brunch", "serves_beer",
             "serves_wine", "serves_cocktails", "serves_dessert", "serves_coffee", "outdoor_seating", "live_music", "allows_dogs", "good_for_children",
             "good_for_groups", "good_for_watching_sports", "menu_for_children"]
for col in bool_cols:
    restaurants_merged[col] = restaurants_merged[col].replace({"Yes": True, "No": False})

In [17]:
# fillna for RestaurantTakeOut
restaurants_merged["RestaurantsTakeOut"] = restaurants_merged["RestaurantsTakeOut"].fillna(restaurants_merged["takeout"])
# fillna for RestaurantsDelivery
restaurants_merged["RestaurantsDelivery"] = restaurants_merged["RestaurantsDelivery"].fillna(restaurants_merged["delivery"])
# fillna for RestaurantsReservations
restaurants_merged["RestaurantsReservations"] = restaurants_merged["RestaurantsReservations"].fillna(restaurants_merged["reservable"])

# remove takeout, delivery, reservable columns
restaurants_merged = restaurants_merged.drop(columns=["takeout", "delivery", "reservable"])

In [18]:
# convert GoodForMeal to list of words
restaurants_merged["GoodForMeal"] = restaurants_merged["GoodForMeal"].str.split(", ")
# fillna as list
restaurants_merged["GoodForMeal"] = restaurants_merged["GoodForMeal"].apply(lambda x: x if isinstance(x, list) else [])

# add "breakfast" to GoodForMeal if serves_breakfast is True and there is no "breakfast" in GoodForMeal, and so on for lunch, dinner, brunch
restaurants_merged["GoodForMeal"] = restaurants_merged.apply(lambda x: x["GoodForMeal"] + ["breakfast"] if (x["serves_breakfast"] == True and "breakfast" not in x["GoodForMeal"]) else x["GoodForMeal"], axis=1)
restaurants_merged["GoodForMeal"] = restaurants_merged.apply(lambda x: x["GoodForMeal"] + ["lunch"] if (x["serves_lunch"] == True and "lunch" not in x["GoodForMeal"]) else x["GoodForMeal"], axis=1)
restaurants_merged["GoodForMeal"] = restaurants_merged.apply(lambda x: x["GoodForMeal"] + ["dinner"] if (x["serves_dinner"] == True and "dinner" not in x["GoodForMeal"]) else x["GoodForMeal"], axis=1)
restaurants_merged["GoodForMeal"] = restaurants_merged.apply(lambda x: x["GoodForMeal"] + ["brunch"] if (x["serves_brunch"] == True and "brunch" not in x["GoodForMeal"]) else x["GoodForMeal"], axis=1)

In [19]:
# fillna for Alcohol based on if there are True in serves_beer, serves_wine, serves_cocktails
restaurants_merged["Alcohol"] = restaurants_merged["Alcohol"].fillna(restaurants_merged["serves_beer"] | restaurants_merged["serves_wine"] | restaurants_merged["serves_cocktails"])

In [20]:
# fillna for OutdoorSeating based on if there are True in outdoor_seating
restaurants_merged["OutdoorSeating"] = restaurants_merged["OutdoorSeating"].fillna(restaurants_merged["outdoor_seating"])
# fillna for Music based on if there are True in live_music
restaurants_merged["Music"] = restaurants_merged["Music"].fillna(restaurants_merged["live_music"])
# fillna for DogsAllowed based on if there are True in allows_dogs
restaurants_merged["DogsAllowed"] = restaurants_merged["DogsAllowed"].fillna(restaurants_merged["allows_dogs"])
# fillna for GoodForKids
restaurants_merged["GoodForKids"] = restaurants_merged["GoodForKids"].fillna(restaurants_merged["good_for_children"])
# fillna for RestaurantsGoodForGroups
restaurants_merged["RestaurantsGoodForGroups"] = restaurants_merged["RestaurantsGoodForGroups"].fillna(restaurants_merged["good_for_groups"])

# remove outdoor_seating, live_music, allows_dogs, good_for_children, good_for_groups columns
restaurants_merged = restaurants_merged.drop(columns=["outdoor_seating", "live_music", "allows_dogs", "good_for_children", "good_for_groups"])

In [21]:
# convert to string to dict
restaurants_merged["editorial_summary"] = restaurants_merged["editorial_summary"].astype(str)
restaurants_merged["editorial_summary"] = restaurants_merged["editorial_summary"].apply(lambda x: {'text': '', 'languageCode': ''} if x == "nan" else ast.literal_eval(x))
print(restaurants_merged["editorial_summary"].head())

0                     {'text': '', 'languageCode': ''}
1    {'text': 'Chic sushi & raw bar in modern surro...
2    {'text': 'Classic Korean dishes & beer in simp...
3    {'text': 'Long-standing casual pizzeria that b...
4    {'text': 'Easygoing restaurant preparing gener...
Name: editorial_summary, dtype: object

In [22]:
restaurants_merged["editorial_summary_language"] = restaurants_merged["editorial_summary"].apply(lambda x: x.get("languageCode"))
print(restaurants_merged["editorial_summary_language"].head())
restaurants_merged["editorial_summary"] = restaurants_merged["editorial_summary"].apply(lambda x: x.get("text"))
print(restaurants_merged["editorial_summary"].head())

0
1    en
2    en
3    en
4    en
Name: editorial_summary_language, dtype: object
0
1    Chic sushi & raw bar in modern surrounds with ...
2    Classic Korean dishes & beer in simple digs in...
3    Long-standing casual pizzeria that backs up it...
4    Easygoing restaurant preparing generous burger...
Name: editorial_summary, dtype: object

In [23]:
# get key value pairs from parking_options
restaurants_merged["parking_options"] = restaurants_merged["parking_options"].astype(str)
restaurants_merged["parking_options"] = restaurants_merged["parking_options"].apply(lambda x: {} if x == "nan" else ast.literal_eval(x))

def get_parking_options(x):
    options = []
    items = x.items()
    for key, value in items:
        if value == True:
            options.append(key)
        else:
            options.append('no ' + key)
    return options


restaurants_merged["parking_options"] = restaurants_merged["parking_options"].apply(lambda x: get_parking_options(x))
print(restaurants_merged["parking_options"].head())

0                                                   []
1    [no freeParkingLot, no paidParkingLot, no free...
2                                    [no valetParking]
3    [freeStreetParking, paidStreetParking, no vale...
4    [freeParkingLot, freeStreetParking, no valetPa...
Name: parking_options, dtype: object

In [24]:
print(restaurants_merged.shape)
print(restaurants_merged.info())
print(restaurants_merged.head())
print(restaurants_merged.describe(include="all"))
# get null values
pd.set_option("display.max_rows", None)
print(restaurants_merged.isnull().sum())
pd.set_option("display.max_rows", 10)

(8069, 68)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8069 entries, 0 to 8068
Data columns (total 68 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      8069 non-null   object
 1   city                             8069 non-null   object
 2   postal_code                      8069 non-null   int64
 3   categories                       8069 non-null   object
 4   yelp_rating                      8069 non-null   float64
 5   name                             8069 non-null   object
 6   RestaurantsTakeOut               7989 non-null   object
 7   BusinessAcceptsCreditCards       7181 non-null   object
 8   RestaurantsDelivery              7942 non-null   object
 9   price_level                      7529 non-null   float64
 10  RestaurantsReservations          7838 non-null   object
 11  HasTV                            6366 non-null   object
 12  OutdoorSeating                   7813 non-null   object
 13  RestaurantsGoodForGroups         7788 non-null   object
 14  WiFi                             5952 non-null   object
 15  GoodForKids                      7781 non-null   object
 16  BikeParking                      5850 non-null   object
 17  RestaurantsAttire                5601 non-null   object
 18  Caters                           5476 non-null   object
 19  BusinessParking                  5341 non-null   object
 20  NoiseLevel                       5187 non-null   object
 21  Ambience                         3876 non-null   object
 22  GoodForMeal                      8069 non-null   object
 23  RestaurantsTableService          3176 non-null   object
 24  WheelchairAccessible             2275 non-null   object
 25  HappyHour                        2029 non-null   object
 26  Alcohol                          8069 non-null   object
 27  DogsAllowed                      7246 non-null   object
 28  BusinessAcceptsBitcoin           1191 non-null   object
 29  BYOB                             863 non-null    object
 30  Corkage                          776 non-null    object
 31  DriveThru                        681 non-null    object
 32  BestNights                       609 non-null    object
 33  CoatCheck                        596 non-null    object
 34  ByAppointmentOnly                558 non-null    object
 35  GoodForDancing                   527 non-null    object
 36  Smoking                          514 non-null    object
 37  BYOBCorkage                      385 non-null    object
 38  Music                            7041 non-null   object
 39  AgesAllowed                      30 non-null     object
 40  RestaurantsCounterService        4 non-null      object
 41  Open24Hours                      3 non-null      object
 42  AcceptsInsurance                 3 non-null      object
 43  DietaryRestrictions              2 non-null      object
 44  dist_highway                     8005 non-null   float64
 45  adjusted_gross_income            8005 non-null   float64
 46  rural_urban_continuum_code_2023  8005 non-null   float64
 47  unemployment_rate_2023           8005 non-null   float64
 48  price_range                      5574 non-null   object
 49  google_rating                    6949 non-null   float64
 50  user_rating_count                6949 non-null   Int64
 51  number_of_photos                 6998 non-null   float64
 52  types                            6998 non-null   object
 53  dine_in                          6998 non-null   object
 54  serves_breakfast                 6998 non-null   object
 55  serves_lunch                     6998 non-null   object
 56  serves_dinner                    6998 non-null   object
 57  serves_brunch                    6998 non-null   object
 58  serves_beer                      6998 non-null   object
 59  serves_wine                      6998 non-null   object
 60  serves_cocktails                 6998 non-null   object
 61  serves_dessert                   6998 non-null   object
 62  serves_coffee                    6998 non-null   object
 63  editorial_summary                8069 non-null   object
 64  good_for_watching_sports         6998 non-null   object
 65  menu_for_children                6998 non-null   object
 66  parking_options                  8069 non-null   object
 67  editorial_summary_language       8069 non-null   object
dtypes: Int64(1), float64(8), int64(1), object(58)
memory usage: 4.5+ MB
None
              business_id          city  postal_code                                         categories  yelp_rating                name RestaurantsTakeOut  \
0  MTSW4McQd7CbVtyjqoe9mw  Philadelphia        19107  Restaurants, Food, Bubble Tea, Coffee & Tea, B...          4.0  St Honore Pastries               True
1  MUTTqe8uqyMdBl186RmNeA  Philadelphia        19106                  Sushi Bars, Restaurants, Japanese          4.0            Tuna Bar               True
2  ROeacJQwBeh05Rqg7F6TCg  Philadelphia        19147                                Korean, Restaurants          4.5                 BAP               True
3  kV_Q1oqis8Qli8dUoGpTyQ       Ardmore        19003                                 Pizza, Restaurants          3.5       Ardmore Pizza               True
4  aPNXGTDkf-4bjhyMBQxqpQ  Philadelphia        19123  Eatertainment, Arts & Entertainment, Brewpubs,...          3.5          Craft Hall               True

  BusinessAcceptsCreditCards RestaurantsDelivery  price_level RestaurantsReservations  HasTV OutdoorSeating RestaurantsGoodForGroups  WiFi GoodForKids BikeParking  \
0                      False               False          1.0                   False    NaN          False                    False  free       False        True
1                       True                True          2.0                    True  False           True                     True  free       False         NaN
2                       True                True          1.0                   False   True          False                    False    no        True        True
3                       True                True          1.0                   False   True          False                     True    no        True        True
4                       True                True          2.0                    True   True           True                     True   NaN        True         NaN

  RestaurantsAttire Caters BusinessParking NoiseLevel Ambience                 GoodForMeal RestaurantsTableService WheelchairAccessible HappyHour   Alcohol DogsAllowed  \
0               NaN   True          street        NaN      NaN                          []                     NaN                  NaN       NaN     False       False
1            casual    NaN          street    average   classy    [dessert, dinner, lunch]                    True                 True      True  full_bar       False
2            casual   True          street      quiet   casual  [lunch, dinner, breakfast]                    True                  NaN       NaN      True       False
3            casual   True     street, lot    average   casual  [latenight, dinner, lunch]                     NaN                  NaN       NaN     False       False
4               NaN    NaN             lot        NaN   classy     [lunch, dinner, brunch]                     NaN                  NaN      True      True        True

  BusinessAcceptsBitcoin BYOB Corkage DriveThru BestNights CoatCheck ByAppointmentOnly GoodForDancing Smoking BYOBCorkage  Music AgesAllowed RestaurantsCounterService  \
0                    NaN  NaN     NaN       NaN        NaN       NaN             False            NaN     NaN         NaN  False         NaN                       NaN
1                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN  False         NaN                       NaN
2                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN  False         NaN                       NaN
3                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN  False         NaN                       NaN
4                    NaN  NaN     NaN       NaN        NaN       NaN               NaN            NaN     NaN         NaN  False         NaN                       NaN

  Open24Hours AcceptsInsurance DietaryRestrictions  dist_highway  adjusted_gross_income  rural_urban_continuum_code_2023  unemployment_rate_2023  \
0         NaN              NaN                 NaN      0.637509               620248.0                              1.0                     4.2
1         NaN              NaN                 NaN      0.002010              1343500.0                              1.0                     4.2
2         NaN              NaN                 NaN      0.885738              2118208.0                              1.0                     4.2
3         NaN              NaN                 NaN      4.155569               888735.0                              1.0                     3.0
4         NaN              NaN                 NaN      0.564495               834640.0                              1.0                     4.2

                                         price_range  google_rating  user_rating_count  number_of_photos                                              types dine_in  \
0                                                NaN            4.8                 53              10.0  bakery, food_store, food, wholesaler, store, p...   False
1  {'startPrice': {'currencyCode': 'USD', 'units'...            4.5                415              10.0  japanese_restaurant, restaurant, food, point_o...    True
2  {'startPrice': {'currencyCode': 'USD', 'units'...            4.3                529              10.0  korean_restaurant, restaurant, point_of_intere...    True
3  {'startPrice': {'currencyCode': 'USD', 'units'...            4.2                381              10.0  pizza_restaurant, fast_food_restaurant, meal_d...   False
4                                                NaN            4.2                389              10.0  bar_and_grill, american_restaurant, bar, resta...    True

  serves_breakfast serves_lunch serves_dinner serves_brunch serves_beer serves_wine serves_cocktails serves_dessert serves_coffee  \
0            False        False         False         False       False       False            False          False          True
1            False         True          True         False        True        True             True           True          True
2             True         True          True         False        True       False            False           True         False
3            False         True          True         False       False       False            False           True         False
4            False         True          True          True        True        True             True           True         False

                                   editorial_summary good_for_watching_sports menu_for_children                                    parking_options  \
0                                                                       False             False                                                 []
1  Chic sushi & raw bar in modern surrounds with ...                    False             False  [no freeParkingLot, no paidParkingLot, no free...
2  Classic Korean dishes & beer in simple digs in...                    False             False                                  [no valetParking]
3  Long-standing casual pizzeria that backs up it...                    False             False  [freeStreetParking, paidStreetParking, no vale...
4  Easygoing restaurant preparing generous burger...                     True              True  [freeParkingLot, freeStreetParking, no valetPa...

  editorial_summary_language
0
1                         en
2                         en
3                         en
4                         en
                   business_id          city   postal_code          categories  yelp_rating  name RestaurantsTakeOut BusinessAcceptsCreditCards RestaurantsDelivery  \
count                     8069          8069   8069.000000                8069  8069.000000  8069               7989                       7181                7942
unique                    8069           266           NaN                5771          NaN  6368                  2                          2                   2
top     MTSW4McQd7CbVtyjqoe9mw  Philadelphia           NaN  Restaurants, Pizza          NaN  Wawa               True                       True                True
freq                         1          3525           NaN                 223          NaN   160               7615                       6707                5954
mean                       NaN           NaN  19147.941876                 NaN     3.561470   NaN                NaN                        NaN                 NaN
std                        NaN           NaN    187.021954                 NaN     0.814395   NaN                NaN                        NaN                 NaN
min                        NaN           NaN  10426.000000                 NaN     1.000000   NaN                NaN                        NaN                 NaN
25%                        NaN           NaN  19060.000000                 NaN     3.000000   NaN                NaN                        NaN                 NaN
50%                        NaN           NaN  19116.000000                 NaN     3.500000   NaN                NaN                        NaN                 NaN
75%                        NaN           NaN  19149.000000                 NaN     4.000000   NaN                NaN                        NaN                 NaN
max                        NaN           NaN  19603.000000                 NaN     5.000000   NaN                NaN                        NaN                 NaN

        price_level RestaurantsReservations HasTV OutdoorSeating RestaurantsGoodForGroups  WiFi GoodForKids BikeParking RestaurantsAttire Caters BusinessParking  \
count   7529.000000                    7838  6366           7813                     7788  5952        7781        5850              5601   5476            5341
unique          NaN                       2     2              2                        2     3           2           2                 3      2              28
top             NaN                   False  True          False                     True  free        True        True            casual   True             lot
freq            NaN                    5359  5115           5016                     5467  3187        6080        4276              5483   3460            2551
mean       1.594368                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN
std        0.585333                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN
min        1.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN
25%        1.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN
50%        2.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN
75%        2.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN
max        4.000000                     NaN   NaN            NaN                      NaN   NaN         NaN         NaN               NaN    NaN             NaN

       NoiseLevel Ambience      GoodForMeal RestaurantsTableService WheelchairAccessible HappyHour Alcohol DogsAllowed BusinessAcceptsBitcoin   BYOB Corkage DriveThru  \
count        5187     3876             8069                    3176                 2275      2029    8069        7246                   1191    863     776       681
unique          4       91              118                       2                    2         2       4           2                      2      2       2         2
top       average   casual  [lunch, dinner]                    True                 True      True   False       False                  False  False   False      True
freq         3695     2182             2704                    2041                 1938      1192    5405        6833                   1164    481     670       347
mean          NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN
std           NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN
min           NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN
25%           NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN
50%           NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN
75%           NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN
max           NaN      NaN              NaN                     NaN                  NaN       NaN     NaN         NaN                    NaN    NaN     NaN       NaN

                        BestNights CoatCheck ByAppointmentOnly GoodForDancing Smoking BYOBCorkage  Music AgesAllowed RestaurantsCounterService Open24Hours  \
count                          609       596               558            527     514         385   7041          30                         4           3
unique                          60         2                 2              2       3           3     15           2                         2           1
top     friday, thursday, saturday     False             False          False      no    yes_free  False     allages                      True       False
freq                           152       502               535            457     351         202   6368          26                         3           3
mean                           NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN
std                            NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN
min                            NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN
25%                            NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN
50%                            NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN
75%                            NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN
max                            NaN       NaN               NaN            NaN     NaN         NaN    NaN         NaN                       NaN         NaN


In [25]:
# save to csv
restaurants_merged.to_csv("restaurants_merged.csv")